@media (max-width: 1400px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .section-title {
    font-size: 54px;
    line-height: 60px;
  }

  .hero-left {
    max-width: 100%;
  }

  .hero-content {
    padding: 32px;
  }

}

@media (max-width: 992px) {
  .hero-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .hero-left {
    max-width: 443px;
  }

  .hero-right {
    max-width: 100%;
  }

  .hero-content {
    padding: 32px 24px;
  }

  .section-desc {
    font-size: 18px;
    line-height: 28px;
  }

}

@media (max-width: 768px) {
  header {
    gap: 24px;
    padding: 18px 0 24px;
  }

  .section-title {
    font-size: 48px;
  }

  .hero-content {
    padding: 32px 20px;
  }

  .section-title span {
    padding-right: 28px;
  }

  .section-desc {
    font-size: 16px;
    line-height: 26px;
  }

}

@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }

  .hero-content {
    padding: 32px 16px;
  }

  .section-title span {
    padding-right: 24px;
  }

  .section-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .hero-overall {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

@media (max-width: 400px) {
  .hero-content {
    padding: 16px;
    gap: 16px;
  }

  .section-title span {
    padding-right: 20px;
  }

}
