@media (max-width: 1400px) {
  .container {
    padding: 0 20px;
  }

  .text-container span {
    font-size: 80px;
  }
}

@media (max-width: 1200px) {
  .section-title {
    font-size: 54px;
    line-height: 60px;
  }

  .hero-left {
    max-width: 100%;
  }

  .hero-content {
    padding: 32px;
  }

  .text-container span {
    font-size: 72px;
  }

  .features-card {
    padding: 34px 20px;
    gap: 34px;
  }

  .feature-card-description {
    gap: 24px;
  }

  .feature-icon {
    width: 65.353px;
  }

  .feature-right {
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .hero-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .hero-left {
    max-width: 443px;
  }

  .hero-right {
    max-width: 100%;
  }

  .hero-content {
    padding: 32px 24px;
  }

  .section-desc {
    font-size: 18px;
    line-height: 28px;
  }

  .text-container span {
    font-size: 60px;
  }

  .features-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  header {
    gap: 24px;
    padding: 18px 0 24px;
  }

  .nav-wrapper {
    padding: 14px 24px;
  }

  .section-title {
    font-size: 48px;
  }

  .hero-content {
    padding: 32px 20px;
  }

  .section-title span {
    padding-right: 28px;
  }

  .section-desc {
    font-size: 16px;
    line-height: 26px;
  }

  .features-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .features-card {
    padding: 40px 30px;
    gap: 34px;
  }

  .feature-card-description {
    gap: 34px;
  }

  .feature-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .feature-header-left {
    order: 2;
  }

  .feature-header .text-container {
    order: 1;
  }

  .feature-right {
    order: 3;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }

  .nav-wrapper {
    padding: 11px 16px;
    border-radius: 18px;
  }

  .nav-logo {
    max-width: 34px;
  }

  .hero-content {
    padding: 32px 16px;
  }

  .section-title span {
    padding-right: 24px;
  }

  .section-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .hero-overall {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .text-container {
    display: none;
  }

  .features-card-wrapper {
    grid-template-columns: 325px;
    justify-content: center;
  }

  .features-card {
    padding: 42px;
    gap: 64px;
  }

  .feature-card-description {
    gap: 64px;
  }

  .feature-icon {
    width: 90.353px;
  }
}

@media (max-width: 400px) {
  .hero-content {
    padding: 16px;
    gap: 16px;
  }

  .section-title span {
    padding-right: 20px;
  }
}