@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

:root {
  --font-asap: "Asap", serif;
  --primary: #2a72e5;
  --white: #fff;
  --dark: #1f1f1f;
  --gray: #8F8F8F;
  --lightgray: #f0f2f4;
}

body {
  font-family: var(--font-asap);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--dark);
  background-color: var(--white);
}

main {
  padding-top: 90px;
}

/* common starts */
.container {
  max-width: 1344px;
  margin: 0 auto;
}

.section-title {
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1.2px;
}

.section-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

/* primary btn */
.btn-primary {
  width: 154px;
  height: 53px;
  background-color: var(--primary);
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  border-radius: 32px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* primary btn */

/* common ends */

header {
  background-color: var(--lightgray);
  padding: 24px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav-wrapper {
  padding: 18px 32px;
  border-radius: 32px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-logo {
  max-width: 44px;
  max-height: 43px;
  overflow: hidden;
}

.nav-logo a {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-actions button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* language dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border: 1px solid var(--dark);
  border-radius: 47px;
  cursor: pointer;
  background: white;
  justify-content: center;
}

.dropdown-btn img {
  width: 20px;
  height: 13px;
  object-fit: cover;
}

.dropdown-btn span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.arrow {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 80px;
  min-height: 32px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content div {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background: #f1f1f1;
}

.dropdown-content img {
  width: 24px;
  height: 16px;
  object-fit: cover;
}

.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.rotate {
  transform: rotate(180deg);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--white);
  max-width: 180px;
  padding: 40px;
  border-radius: 40px;
  display: none;
}

.menu a {
  color: var(--dark);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1.2px;
  padding: 8px 16px;
  border-radius: 50px;
  transition-duration: 0.4s;
}

.menu a:hover {
  background-color: var(--primary);
  color: var(--white);
}

.menu a.active {
  background-color: var(--primary);
  color: var(--white);
}

/* hero section starts */
.hero-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.hero-left {
  max-width: 733px;
  height: auto;
  border-radius: 32px;
  overflow: hidden;
}

.hero-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-right {
  max-width: 579px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-content {
  padding: 42px;
  background-color: var(--white);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-content .section-title span {
  display: inline-block;
  background-image: url("./assets/hero-title-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary);
  padding-right: 36px;
}

.section-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.hero-overall {
  padding: 32px;
  border-radius: 32px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatars {
  display: flex;
  align-items: center;
}

.avatars img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
}

.avatars img:nth-child(2) {
  margin-left: -10px;
}

.hero-overall p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
/* hero section ends */

/* features section starts*/

.feature-category {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.feature-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-header-left {
  max-width: 334px;
  width: 100%;
}

.feature-center {
  max-width: 555px;
  height: auto;
  overflow: hidden;
}

.feature-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-right {
  max-width: 291px;
  width: 100%;
}

.features-card-wrapper {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.features-card {
  padding: 42px;
  border-radius: 32px;
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: space-between;
}

.features-card h3 {
font-size: 30px;
font-weight: 500;
line-height: 38px;
}

.feature-card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.feature-card-description p {
  color: var(--gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.feature-icon {
  max-width: 90.353px;
  height: auto;
  flex-shrink: 0;
}

.feature-icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* features section ends*/
